<!DOCTYPE html>
<html>
	<head>
		<title>Admin Authentication</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="login-page">
			<div class="form" >
				<fieldset>
					<h1 style="color:white">Admin Login</h1>
					<form action="POST" class="login-form" id="form-log">		
					<input type="text" placeholder="user-name" id="username"/>
					<input type="password" placeholder="password"id="password"/>
					<button class="btn" type="button" id='form-log' onClick="login()">Login</button>
					<div class="alert" id="msg" style="color:red"></div>
				</fieldset>
				</form>
			</div>
		</div>
		<script>
			function login(){
				var username=document.getElementById('username').value;
				var password=document.getElementById('password').value;
				var msg=document.getElementById('msg');
				if(username==''||password==''){
					msg.className='alert alert-danger';
					msg.innerHTML='Please fill all the fields';
				}
				if(username!='username'&&password=='password'){
					msg.className='alert alert-danger';
					msg.innerHTML='Invalid username';
				}
				if(username=='username'&&password!='password'){
					msg.className='alert alert-danger';
					msg.innerHTML='Invalid password';
				}
				if(username!='username'&&password!='password'){
					msg.className='alert alert-danger';
					msg.innerHTML='Invalid username and password';
				}
				if(username=='username'&&password=='password'){
					msg.className='alert alert-danger';
					msg.innerHTML='Success';
					window.location.href = "/dashboard";
				}
			}
		</script>
	</body>
</html>